body {
   margin: 0;
   padding: 0;
   background-color: #E5E5E5;
   height: 100%;
   font-family: 'Roboto', 'sans-serif';
   font-size: 15px;
}

.logo-alura {
   padding: 0.5em;
}

main {
   margin: auto;
   padding: 2em 7em;
   display: flex;
   height: 80vh;
}

section {
   text-align: center;
}

/*Section to encrypt*/
.encrypt-text {
   width: 65%;
   align-content: space-between;
}

textarea {
   background-color:#E5E5E5;
   border-style: none;
   margin: 1rem;
   font-size: x-large;
   color: darkblue;
   font-family: 'Roboto', 'sans-serif';

   resize: none;

}

textarea::placeholder {
   font-family: 'Roboto','sans-serif';
   color: darkblue;
}

textarea:focus {
   outline: none;
}

.buttons {
   margin: 2em;
   margin-top: 10em;
}

button {
   transition: transform .3s;
}

button:hover {
   transform: scale(1.05);
}

.buttons h6{
   text-align: left;
   margin-left: 25%;
}

.principal-btn {
   width: 18em;
   height: 4em;
   color: whitesmoke;
   border-radius: 25px;
   border: 1px solid darkblue;
   background-color: darkblue;
}

.secondary-btn {
   width: 18em;
   height: 4em;
   margin-left: 2em;
   color: darkblue;
   border-radius: 25px;
   border: 1px solid darkblue;
   background-color: #D8DFE8;
}

/*Section of decrypt*/
.undecrypt-text {
   width: 35%;
}

section > img {
   margin-bottom: 15em;
}

.decrypt-text {
   width: 32%;
   background-color: white;
   border-radius: 2em;
   box-shadow: 5px 5px 50px black;
}

.decrypt-text textarea {
   background-color: white;
}

.decrypt-text .secondary-btn {
   margin-top: 2em;  
}